<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
        </style>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>

    <body>
        <div id="map"></div>

        <script type="text/javascript">

function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 49.636, lng: 18.148},
        zoom: 6,
    });

    $.ajax({
        url: "{% url 'transport:source' %}",
        timeout: 60000,
    }).done(function (data) {
        var routes = data;
        $.each(routes, function (_, stops) {
            var path = [];
            $.each(stops, function(_, stop) {
                path.push({
                    lat: parseFloat(stop[0]),
                    lng: parseFloat(stop[1])
                });
            });
            var polyline = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            polyline.setMap(map);
        });
    });

    $.ajax({
        url: "{% url 'places:source' %}",
        timeout: 60000,
    }).done(function (cities) {
        var heatmap_data = [];
        $.each(cities, function(_, city) {
            var lat_lng = new google.maps.LatLng(data[0], data[1]);
            var weight = data[2];
            heatmap_data.push({location: lat_lng, weight});
        });

        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmap_data,
            radius: 10
        });
        heatmap.setMap(map);
	});

}

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ6hwQV3uxt2j-eh-pwHGtWwwgOfBDDfg&libraries=visualization&callback=initMap">
        </script>
    </body>
</html>
